<!-- templates/dashboard.html -->

{% extends 'base.html' %} {% block content %}
<h1 class="text-center mt-5">Dashboard</h1>
<div class="d-flex justify-content-center mt-4">
  <div class="card" style="width: 35rem">
    <div class="card-body">
      <p class="card-text text-center">
        RUMPIII is more than just a story-sharing platform. It is a home for
        lovers of words who want to explore the limitless world of imagination.
        Here, you can find inspiration, get support, and network with writers
        from all over the world. With its user-friendly interface and
        comprehensive features, RUMPIII makes it easy for you to share your
        written works, find loyal readers, and join engaging discussions around
        various literary genres.
      </p>
    </div>
  </div>
</div>
{% endblock %}
